#define def_macro(name, ...) \
name: name { \
	compatible = "zmk,behavior-macro"; \
	#binding-cells = <0>; \
	bindings = <__VA_ARGS__>; \
}

// French accents
def_macro(m_a_grave, &kp GRAVE &kp A);
def_macro(m_e_acute, &kp SQT &kp E);
def_macro(m_e_grave, &kp GRAVE &kp E);
def_macro(m_e_circ, &kp CARET &kp E);
def_macro(m_u_grave, &kp GRAVE &kp U);
def_macro(m_i_circ, &kp CARET &kp I);
def_macro(m_o_circ, &kp CARET &kp O);
def_macro(m_i_trema, &kp DQT &kp I);
def_macro(m_u_trema, &kp DQT &kp U);

def_macro(m_c_cedille,
	&macro_press &kp RALT,
	&macro_tap &kp COMMA,
	&macro_release &kp RALT
);

// Special symbols
def_macro(m_guillemet_open,
	&macro_press &kp RALT,
	&macro_tap &kp LBKT,
	&macro_release &kp RALT
);

def_macro(m_guillemet_close,
	&macro_press &kp RALT,
	&macro_tap &kp RBKT,
	&macro_release &kp RALT
);

def_macro(m_ae_ligature,
	&macro_press &kp RALT,
	&macro_tap &kp Z,
	&macro_release &kp RALT
);

def_macro(m_oe_ligature,
	&macro_press &kp RALT,
	&macro_tap &kp K,
	&macro_release &kp RALT
);

def_macro(m_euro,
	&macro_press &kp RALT,
	&macro_tap &kp N5,
	&macro_release &kp RALT
);

def_macro(m_degree,
	&macro_press &kp RALT &kp RSHFT,
	&macro_tap &kp SEMICOLON,
	&macro_release &kp RALT &kp RSHFT
);

def_macro(m_micro,
	&macro_press &kp RALT,
	&macro_tap &kp M,
	&macro_release &kp RALT
);