macros {
	dquo_space: dquo_space {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings =
		<&macro_release>,
		<&kp LSHFT &kp RSHFT &kp LALT &kp RALT &kp LCTRL &kp RCTRL &kp LGUI &kp RGUI>,
		<&macro_tap>,
		<&kp DQT &kp SPACE>;
		label = "DQUO_SPACE";
	};
	
	squo_space: squo_space {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings =
		<&macro_release>,
		<&kp LSHFT &kp RSHFT &kp LALT &kp RALT &kp LCTRL &kp RCTRL &kp LGUI &kp RGUI>,
		<&macro_tap>,
		<&kp SQT &kp SPACE>;
		label = "SQUO_SPACE";
	};
	
	trem_space: trem_space {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings =
		<&macro_release>,
		<&kp LSHFT &kp RSHFT &kp LALT &kp RALT &kp LCTRL &kp RCTRL &kp LGUI &kp RGUI>,
		<&macro_tap>,
		<&kp CARET &kp SPACE>;
		label = "TREM_SPACE";
	};
	
	t_pairDquo: t_pairDquo {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings =
		<&macro_release>,
		<&kp LSHFT &kp RSHFT &kp LALT &kp RALT &kp LCTRL &kp RCTRL &kp LGUI &kp RGUI>,
		<&macro_tap>,
		<&kp DQT &kp SPACE &kp DQT &kp SPACE &kp LEFT>;
		label = "T_PAIRDQUO";
	};
	
	t_pairSquo: t_pairSquo {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings =
		<&macro_release>,
		<&kp LSHFT &kp RSHFT &kp LALT &kp RALT &kp LCTRL &kp RCTRL &kp LEFT_WIN &kp RWIN>,
		<&macro_tap>,
		<&kp SQT &kp SPACE &kp SQT &kp SPACE &kp LEFT>;
		label = "T_PAIRSQUO";
	};
	
	t_pairLtGt: t_pairLtGt {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings =
		<&macro_release>,
		<&kp LSHFT &kp RSHFT &kp LALT &kp RALT &kp LCTRL &kp RCTRL &kp LEFT_WIN &kp RWIN>,
		<&macro_tap>,
		<&kp LT &kp GT &kp LEFT>;
		label = "T_PAIRLTGT";
	};
	
	// Paires de délimiteurs
	pair_paren: pair_paren {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings =
		<&macro_release>,
		<&kp LSHFT &kp RSHFT &kp LALT &kp RALT &kp LCTRL &kp RCTRL &kp LEFT_WIN &kp RWIN>,
		<&kp LSHFT &kp RSHFT &kp LALT &kp RALT &kp LCTRL &kp RCTRL &kp LEFT_WIN &kp RWIN>,
		<&macro_tap>,
		<&kp LPAR &kp RPAR &kp LEFT>;
		label = "PAIR_PAREN";
	};
	
	pair_brace: pair_brace {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings =
		<&macro_release>,
		<&kp LSHFT &kp RSHFT &kp LALT &kp RALT &kp LCTRL &kp RCTRL &kp LEFT_WIN &kp RWIN>,
		<&macro_tap>,
		<&kp LBRC &kp RBRC &kp LEFT>;
		label = "PAIR_BRACE";
	};
	
	pair_bracket: pair_bracket {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings =
		<&macro_release>,
		<&kp LSHFT &kp RSHFT &kp LALT &kp RALT &kp LCTRL &kp RCTRL &kp LEFT_WIN &kp RWIN>,
		<&macro_tap>,
		<&kp LBKT &kp RBKT &kp LEFT>;
		label = "PAIR_BRACKET";
	};
	
	code_block: code_block {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings =
		<&macro_release>,
		<&kp LSHFT &kp RSHFT &kp LALT &kp RALT &kp LCTRL &kp RCTRL &kp LEFT_WIN &kp RWIN>,
		<&macro_tap>,
		<&kp LBRC &kp RET &kp RET &kp RBRC &kp UP &kp END &kp TAB>;
		label = "CODE_BLOCK";
	};
	
	arrow: arrow {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings = <&kp MINUS &kp GT>;
		label = "ARROW";
	};
	
	plus_eq: plus_eq {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings = <&kp PLUS &kp EQUAL>;
		label = "PLUS_EQ";
	};
	
	minus_eq: minus_eq {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings = <&kp MINUS &kp EQUAL>;
		label = "MINUS_EQ";
	};
	
	lte: lte {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings = <&kp LT &kp EQUAL>;
		label = "LTE";
	};
	
	gte: gte {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings = <&kp GT &kp EQUAL>;
		label = "GTE";
	};
	
	or_eq: or_eq {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings = <&kp PIPE &kp EQUAL>;
		label = "OR_EQ";
	};
	
	grave_space: grave_space {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings =
		<&macro_release>,
		<&kp LSHFT &kp RSHFT &kp LALT &kp RALT &kp LCTRL &kp RCTRL &kp LGUI &kp RGUI>,
		<&macro_tap>,
		<&kp GRAVE &kp SPACE>;
		label = "GRAVE_SPACE";
	};
	
	tilde_space: tilde_space {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings =
		<&macro_release>,
		<&kp LSHFT &kp RSHFT &kp LALT &kp RALT &kp LCTRL &kp RCTRL &kp LGUI &kp RGUI>,
		<&macro_tap>,
		<&kp TILDE &kp SPACE>;
		label = "TILDE_SPACE";
	};
	
	#include "french.dtsi"
};
